* {
    box-sizing: border-box;
}

html,
body { 
    margin: auto;
    height: 100%;
    background: #60a9ff;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

p, figcaption {
    text-align: center;
}

figcaption {
    margin: 1rem;
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
}

.price {
    font-weight: 800;
    border-top: ##e1f1ff 1px solid;
}

p {
    color: #016ff9;
    border-top: solid #e1f1ff 1px;
    padding: 1rem;

}

section {
    display: flex;
    border: 1px solid #e1f1ff;
    background: white;
    border: #e1f1ff solid 1px;
    border-radius: 10px;
    width: 100%;
    max-width: 960px;
}

div {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.box2 {
    border-left: 1px solid #e1f1ff;
    border-right: 1px solid #e1f1ff;
}

a {
    text-align: center;
    text-decoration: none;
    color: #016ff9;
    border: #016ff9 solid 1px;
    border-radius: 10px;
    width: 20%;
    margin: auto;
}